.link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* margin: 10px 0; */
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.item-left {
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--font-xs);
  font-weight: 500;
}

.description {
  font-size: var(--font-xxs);
  color: rgba(0, 0, 0, 0.4);
  margin-top: 5px;
}
